.navbar {
  padding: 20px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  flex-wrap: wrap;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}
.navbar__logo {
  text-decoration: none;
}
.nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
.login {
  width: 100px;
  height: 35px;
  border-radius: 6px;
  border: 0;
  color: rgb(255, 255, 255);
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  background: rgb(70, 163, 88);
}
.cart_nav {
  height: 20px;
  width: 20px;
}

a {
  color: rgb(61, 61, 61);
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}
a:hover {
}
.a_flex {
  height: 55px;
  position: relative;
  top: 20px;
}
.a_flex:hover {
  border-bottom: 3px solid rgb(70, 163, 88);
}

.menu {
  display: none;
  border: 0;
  font-size: 40px;
  background: 0;
  cursor: pointer;
  text-align: left;
  padding-top: 15px;
}
@media (max-width: 1200px) {
  .nav_top {
    display: none;
  }
  .menu {
    display: block;
  }
  .nav_bot_flex {
    position: absolute;
    display: flex;
    top: 110px;
    left: 0;
    width: 100%;
    padding: 30px;
    background: #f7f7f7;
    box-shadow: 0 3px 5px #0002;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    line-height: 2;
    z-index: 10;
    transform-origin: top;
    transform: scaleY(0);
  }
  .nav_bot_flex.show {
    transform: scaleY(1);
  }
  .navbar {
    align-items: center;
    justify-content: center;
  }
}
